{% extends "books.html" %}

{% block title %}Book App - Delete Author?{% endblock %}

{% block header %}Delete Author?{% endblock %}

{% block content %}

    <!-- DISPLAY ERROR MESSAGE -->
    <div class="error">
        <script>
            {% if messages %}
                {% for message in messages %}
                    alert(message);
                {% endfor %}
            {% endif %}
        </script>
    </div>

    <form method="POST" action=".">
        {% csrf_token %}
        <p style="font-size: 15pt; text-align: center; ">Are you sure you would like to delete "{{ item }}" from the database?</p>
        <p style="text-align: center; ">(Authors that are registered with a book in the database cannot be deleted.)</p>

        <a href="{% url 'viewAuthors' %}"><button class="button" type="button">CANCEL</button></a>
        <input type="submit" value="DELETE" class="button delete-button">
    </form>

{% endblock %}