{% extends "books.html" %}

{% block title %}Book App - Search Open Library API{% endblock %}

{% block header %}Search Open Library API{% endblock %}

{% block content %}

<div class="search">
    <form action="{% url 'searchLibrary' %}" method="POST">
        {% csrf_token %}
        <input name="title" type="text" placeholder="Search for Title" required style="margin-bottom: 10px">
        <input name="author" type="text" placeholder="Filter by Author" style="margin-bottom: 10px">
        <input type="submit" value="Submit">
    </form>
</div>

<h2>Search Results</h2>
<table class="display-table">
    <tr>
        <th>Title</th>
        <th>Link to Open Library Page</th>
    </tr>

    {% for doc in docs %}
    <tr class="display-row">
        <td>{{ doc.title }}</td>
        <td><a href="https://openlibrary.org{{ doc.key }}" target="_blank">https://openlibrary.org{{ doc.key }}</a></td>
    </tr>
    {% endfor %}

</table>

{% endblock %}